*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: "Figtree", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px black;

}
img {
    height: auto;
    width: 100%;
    border-radius: 10px; 
}
.tag {
    background-color: hsl(47, 88%, 63%);
    padding: 0.5em;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;
}
p{
    margin-top: 4%;
    font-size: small;
}
.title {
    margin-top: 2%;
    cursor: pointer;
}
.title h3:hover {
    color: hsl(47, 88%, 63%);
}
.about {
    color: hsl(0, 0%, 42%);
    font-size: medium;
}
.author {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    font-size: small;
    img {
        height: 15%;
        width: 15%;
    }
}
@media (maxwidth: 400px){
    body{
        padding: 20px;
    }
    .card {
        width: 90px;
        padding: 36px;
    }
    .title h3 {
    cursor: pointer;
    }
    .title h3:hover {
    color: hsl(47, 88%, 63%);
    }
}